<div class="block edit-question-details">
	<h2 class="titular">
		QUESTION DETAILS
	</h2>
	<div class="body">
		<p class="input-container">
			<a class="sign-in button" id="add_question_button" href="javascript:addQuestionNumber()">
				<span style="display: inline-block; vertical-align: middle;" class="icon entypo-plus"></span>
				<span style="display: inline-block; vertical-align: middle;">Add Question</span>
			</a>
		</p>
		<p class="details-item">
			<span class="details-title">
				Question title
			</span>
			<span class="details-value" id="question_title"></span>
		</p>
		<p class="details-item">
			<span class="details-title">
				Number of questions
			</span>
			<span class="details-value" id="number_of_questions"></span>
		</p>
		<p class="details-item">
			<span class="details-title">
				Creator
			</span>
			<span class="details-value" id="creator_of_question"></span>
		</p>
		<p class="details-item">
			<span class="details-title">
				Date created
			</span>
			<span class="details-value" id="date_created"></span>
		</p>
		<p class="details-item">
			<span class="details-title">
				Last modified
			</span>
			<span class="details-value" id="last_modified"></span>
		</p>
		<p class="details-item">
			<span class="details-title">
				Total marks
			</span>
			<span class="details-value" id="total_marks"></span>
		</p>
	</div>
</div>