<div question-id="" edit-question-number="1" class="block edit-question">
	<div class="arrow-btn-container">
		<a class="arrow-btn left" id="previous_question" href="javascript:void(0)">
			<span class="icon fontawesome-angle-left"></span>
		</a>
		<h2 class="titular">
			QUESTION #<span id="question_number">1</span>
		</h2>
		<a class="arrow-btn right" id="next_question" href="javascript:void(0)">
			<span class="icon fontawesome-angle-right"></span>
		</a>
	</div>
	<div>
		<div class="body">
			<p class="input-container">
				<textarea style="font-size: calc(100% + 3px); height: 90px; padding: 10px" edit-question-text class="text-input"></textarea>
			</p>
			<div id="question_options_holder">
				<!-- <p class="input-container">
					<input type="radio" edit-question-option="1"> Who is?
				</p>
				<p class="input-container">
					<input type="radio" edit-question-option="2"> Who is?
				</p>
				<p class="input-container">
					<input type="radio" edit-question-option="3">Who is?
				</p>
				<p class="input-container">
					<input type="radio" edit-question-option="4">Who is?
				</p> -->
			</div>
			<p class="input-container">
				<a class="sign-in button" href="javascript:void(0)">
					<span style="display: inline-block; vertical-align: middle;" class="icon entypo-plus"></span>
					<span style="display: inline-block; vertical-align: middle;" onclick="javascript:window.displayAddQuestionOptionModal()">Add Option</span>
				</a>
			</p>
		</div>
	</div>
</div>
