<div class="block questions">
	<h2 class="titular">
		QUESTIONS
	</h2>
	<div>
		<a class="sign-in button" href="javascript:void(0)">
			Create Question
		</a>
	</div>
	<div id="questions_list_holder">
		{% if questions_list_length > 0 %}
			{% for question in questions_list %}
				{% set question_details = getQuestionDetails(question["id"], question["type"]) %}
				<div class="question" question-id="{{ question['id'] }}" no-of-questions="{{ question_details['number_of_questions'] }}">
					<div class="list">
						<p class="title">
							{{ question_details["title"] }}
						</p>
						<div class="details">
							<p class="scnd-font-color">
								Number of questions: {{ question_details["number_of_questions"] }}
							</p>
							<p class="scnd-font-color">
								Creator: {{ question_details["creator"] }}
							</p>
							<p class="scnd-font-color">
								Date created: {{ question_details["date_created"] }}
							</p>
							<p>
								<a question-id="{{ question['id'] }}" class="edit-question-button button" href="javascript:void(0)">
									Edit
								</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div>
				<div style="text-align: center;" class="list">
					<p class="title scnd-font-color">
						No Questions available!
					</p>
				</div>
			</div>
		{% endif %}
	</div>
</div>