<div class="account-settings block">
	<h2 class="titular">
		ACCOUNT SETTINGS
	</h2>
	<div class="body">
		<div class="input-container">
            <input type="password" id="form-password" placeholder="Password" class="password text-input">
            <div class="input-icon password-icon">
				<span class="fontawesome-lock scnd-font-color"></span>
			</div>
        </div>
        <a class="sign-in button" id="save_account_settings_btn" onclick="javascript:void(0)" style="width: 100%">
        	SAVE CHANGES
        </a>
	</div>
</div>
