<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Home | {{ account.accountType | capitalize }}{% endblock %}</title>
    {% block scripts_head %}{% endblock %}
    {% block styles_head %}{% endblock %}
</head>

<body>
    <div class="main-container">
        <!-- NAVIGATION BAR -->
        {% block navbar %}{% endblock %}
        <!-- LEFT-CONTAINER -->
        <div class="left-container container">
            {% block left_container %}{% endblock %}
        </div>
        <!-- MIDDLE-CONTAINER -->
        <div class="middle-container container">
            {% block middle_container %}{% endblock %}
        </div>
        <!-- RIGHT-CONTAINER -->
        <div class="right-container container">
            {% block right_container %}
            {% include "themes/default/calendar.html" %}
            {% endblock %}
        </div>
    </div>

    {% block scripts_body %}{% endblock %}
    {% block styles_body %}{% endblock %}

</body>

</html>
