<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>{% block title %}Classrooms | {{ account.accountType | capitalize }}{% endblock %}</title>
	{% block scripts_head %}{% endblock %}
    {% block styles_head %}{% endblock %}
</head>

<body>
	<div class="main-container">
		<!-- NAVIGATION BAR -->
		{% block navbar %}{% endblock navbar %}
		<!-- LEFT-CONTAINER -->
		<div class="left-container container">
			{% block sidebar %}{% endblock %}
		</div>
		<!-- MIDDLE-RIGHT-CONTAINER -->
		<div class="middle-right-container">
			{% block middle_content %}
			{% block classroom %}
			<div class="block classrooms-list"></div>
			{% endblock %}
			{% endblock %}
		</div>
	</div>

	{% block scripts_body %}{% endblock %}
	{% block styles_body %}{% endblock %}

</body>

</html>
