<div class="block chatroom">
	<div class="arrow-btn-container">
		<a class="arrow-btn-custom left" id="list_chatrooms_btn" onclick="javascript:void(0)">
			<span class="icon entypo-left-open-big"></span>
		</a>
		<h2 class="titular">
			CHATROOMS
		</h2>
		<a class="arrow-btn-custom right" id="display_chatroom_details_btn" onclick="javascript:void(0)">
			<span class="icon entypo-doc-text"></span>
		</a>
	</div>
	<div class="chatrooms-list">
		<div class="chatroom-list-item-none">
			<div class="list">
				<p class="title scnd-font-color">
					No Chatrooms available!
				</p>
			</div>
		</div>
	</div>
	<div class="active-chatroom">
		<div class="chats">
			<!--
			<div class="list">
				<div class="chat">
					<p class="chat-message">
						Welcome to IT Questions
					</p>
					<p class="chat-details">
						<span class="chat-message-date scnd-font-color">
							2020-11-08
						</span>
					</p>
				</div>
			</div>-->
		</div>
		<div id="chat_form">
			<div class="send-chat">
				<input type="text" id="chat_entry" placeholder="Message" class="text-input" required="required">
				<!-- <button class="md-btn button" id="send_chat" type="submit"> -->
				<!-- <button class="" id="send_chat" type="submit" style="background-color: inherit; border: 0px; height: 100%; width: 100%;"> -->
					<span id="send_chat" class="icon fontawesome entypo-paper-plane"></span>
				<!-- </button> -->
			</div>
		</div>
	</div>
</div>
