<!DOCTYPE html>
<html>

<head>
	<title>{{title}} | IT Questions Registrar</title>
	<link href="CSS/bootstrap/bootstrap.css" type="text/css" rel="stylesheet">
	<link href="CSS/index.css" type="text/css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<form id="configurationForm" action="" method="POST">
			<p class="h3" id="schoolSection">School</p>
			<hr width="100%">
			<div class="form-group">
				<label for="schoolName">
					School Name
				</label>
				<input type="text" id="schoolName" class="form-control">
			</div>
			<div class="row">
				<div class="form-group col-xl-2 col-md-3 col-sm-6">
					<label for="schoolName">
						Year Established
					</label>
					<input type="number" id="yearEstablished" class="form-control">
				</div>
			</div>
			<!--p class="h3" id="adminSection">Administrator</p>
			<div class="row">
				<div class="form-group col-xl-6 col-md-6 col-sm-12">
					<label for="adminUsername">
						Username
					</label>
					<input type="text" id="adminUsername" class="form-control">
				</div>
				<div class="form-group col-xl-6 col-md-6 col-sm-12">
					<label for="adminPassword">
						Password
					</label>
					<input type="text" id="adminPassword" class="form-control">
				</div>
			</div-->
		</form>
	</div>

	<script type="text/javascript" src="JavaScript/jquery.js"></script>
	<script type="text/javascript" src="JavaScript/jquery-ui.js"></script>
	<script type="text/javascript" src="JavaScript/bootstrap/bootstrap.js"></script>
</body>
</html>