<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>{{title}} | IT Questions Registrar</title>
	<!-- <link href="CSS/bootstrap/bootstrap.css" type="text/css" rel="stylesheet"> -->
	<link rel="stylesheet" href="/static/CSS/freebie-interactive/freebie-interactive.css">
</head>

<body>

    <div class="main-container">
		{% include "navbar.html" %}

		<h1>
			Still in development...
		</h1>
		<small class="scnd-font-color">
			In the mean time you can forward your opinions to my inbox: <a href="mailto:uchenna19of@gmail.com">uchenna19of@gmail.com</a>
		</small>
    </div>

    <!-- <script type="text/javascript" src=""></script> -->
</body>

</html>
