<div class="block events">
	<h2 class="titular">EVENTS</h2>
	<div class="school-events">
		<!-- <div class="school-event">
			<div class="list">
				<p class="school-event-title">
					School Resumes
				</p>
				<p class="school-event-details">
					<span class="school-event-details-date scnd-font-color">
						2020-11-08
					</span>
				</p>
			</div>
		</div> -->
		<div class="school-event-none">
			<div class="list">
				<p class="title scnd-font-color">
					No School Events!
				</p>
			</div>
		</div>
	</div>
</div>