<div style="padding-bottom: 0px;" class="block classroom">
	<h2 class="titular">
		CLASSROOM
	</h2>
	<div id="chat_form">
		<div class="chats">
			<div class="list">
				<p>
					Welcome to IT Questions
				</p>
			</div>
		</div>
		<div class="send-chat">
			<input type="text" id="chat_entry" placeholder="Message" class="text-input" required="required">
			<!-- <button class="md-btn button" id="send_chat" type="submit"> -->
				<span id="send_chat" class="icon fontawesome entypo-paper-plane"></span>
			<!-- </button> -->
		</div>
	</div>
</div>