.classrooms-list .title {
	font-size: 23px;
	font-weight: bolder;
}

.classrooms-list .body .list {
	display: flex;
    align-items: center;
}

.classrooms-list .body .list .profile {
    height: 50px;
    width: 50px;
    user-select: none;
}

.classrooms-list .active-classroom, .classrooms-list .arrow-btn-container .arrow-btn {
	display: none;
}

/*.classroom .active-classroom {
	display: block;
}*/

.classroom .arrow-btn-container .icon {
	border: 0px;
}

.classroom .body {
	display: none;
}

.classroom .active-classroom .messages .list {
	padding-top: 10px;
    padding-bottom: 10px;
}

.classroom .active-classroom .messages .message-details {
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: row-reverse;
}

.classroom-entry {
	display: flex;
	bottom: 0px;
	left: 0px;
	width: 100%;
	align-items: center;	
}

.classroom-entry .message-attach-btn {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.classroom-entry .message-entry {
	align-self: flex-start;
	width: 80%;
    margin-bottom: 0px;
}

.classroom-entry .message-send-btn {
    margin-right: auto;
    cursor: pointer;
}