{% extends "themes/default/base.html" %}

{% block title %}
Home | {{ account.accountType | capitalize }}
{% endblock %}

{% block navbar %}
{% include "themes/default/navbar.html" %}
{% endblock %}

{% block styles_head %}
    <link rel="stylesheet" href="/static/CSS/freebie-interactive/freebie-interactive.css">
    <link rel="stylesheet" href="/static/CSS/input.css">
    <link rel="stylesheet" href="/static/CSS/account-settings.css">
    <link rel="stylesheet" href="/static/CSS/notifications.css">
    <link rel="stylesheet" href="/static/CSS/profile.css">
    <link rel="stylesheet" href="/static/CSS/school-events.css">
    <link rel="stylesheet" href="/static/CSS/context-menu/context-menu.css">
{% endblock %}

{% block left_container %}
{% include "student/sidebar.html" %}
{% endblock %}

{% block middle_container %}
{% include "themes/default/profile-container.html" %}
{% include "student/public-remarks.html" %}
{% include "themes/default/school-events.html" %}
{% include "themes/default/notifications.html" %}
{% include "themes/default/account-settings.html" %}
<div style="visibility: hidden;" class="calendar-day block">

</div>
{% endblock %}

{% block scripts_body %}
<script type="text/javascript">
    window.Account = {
        "type": "{{ account.ACCOUNT_TYPE }}"
    }
    window.displaying = new Array();
    window.displaying["account_settings"] = false;
    window.displaying["calendar_day"] = true;
    window.displaying["calendar_month"] = true;
    window.displaying["notifications"] = false;
    window.displaying["school_events"] = true;
    window.displaying["public_remarks"] = false;
    window.displaying["user_profile"] = true;
    window.chat_messages = new Array();
    window.customContextMenu = {}
</script>
<script type="text/javascript" src="/static/JavaScript/script-1.js"></script>
<script type="text/javascript" src="/static/JavaScript/events.js"></script>
<script type="text/javascript" src="/static/JavaScript/calendar.js"></script>
<script type="text/javascript" src="/static/JavaScript/jquery.js"></script>
<script type="text/javascript" src="/static/JavaScript/jquery-ui.js"></script>
<script type="text/javascript" src="/static/JavaScript/methods.js"></script>
<script type="text/javascript" src="/static/JavaScript/notifications.js"></script>
<script type="text/javascript" src="/static/JavaScript/profile.js"></script>
<script type="text/javascript" src="/static/JavaScript/school-events.js"></script>
<script type="text/javascript" src="/static/JavaScript/home.js"></script>
<script type="text/javascript" src="/static/JavaScript/account-settings.js"></script>
<script type="text/javascript" src="/static/JavaScript/PrivateKeyGenerator/PrivateKeyGenerator.js"></script>
<script type="text/javascript" src="/static/JavaScript/context-menu/context-menu.js"></script>
<script type="text/javascript">
    ContextMenu.prototype.handleWindowContextMenuEvents();
</script>
{% endblock %}